.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/logokevin1.jpg");
  background-position: 61.06% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 953px;
}

.u-section-1 .u-group-1 {
  min-height: 432px;
  height: auto;
  width: 1140px;
  margin: 456px -108px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 0;
}

.u-section-1 .u-line-1 {
  width: 996px;
  height: 10px;
  transform-origin: right center 0px;
  margin: 192px 93px 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 5.625rem;
  font-style: italic;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: -54px 93px 0 -53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    min-height: 549px;
    margin-top: 259px;
    margin-right: auto;
    margin-left: 100px;
    height: auto;
  }

  .u-section-1 .u-line-1 {
    width: 921px;
    margin-top: 331px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -44px;
    margin-left: -61px;
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 82.27% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: 296px;
    margin-left: auto;
  }

  .u-section-1 .u-line-1 {
    width: 711px;
    transform-origin: left center 0px;
    margin-top: 332px;
    margin-left: -8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.875rem;
    margin-top: -39px;
    margin-right: 26px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 78px;
    margin-left: -22px;
  }

  .u-section-1 .u-line-1 {
    width: 530px;
    margin-top: 397px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    margin-top: -28px;
    margin-right: 22px;
    margin-left: -4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 77.4% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -214px;
    margin-right: -18px;
    margin-left: auto;
  }

  .u-section-1 .u-line-1 {
    width: 374px;
    margin-top: 286px;
    margin-left: -17px;
    margin-right: -17px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -21px;
    margin-right: 0;
    margin-left: -39px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 799px;
}

.u-section-2 .u-image-1 {
  height: 719px;
  margin-top: 78px;
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -763px auto 80px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 770px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-2 .u-line-1 {
  width: 343px;
  height: 10px;
  transform-origin: left center 0px;
  margin: 61px auto 0 106px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: -38px 464px 0 20px;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 4.5rem;
  text-transform: none;
  font-family: "Nothing You Could Do";
  font-weight: normal;
  margin: 7px -33px 0 20px;
}

.u-section-2 .u-shape-1 {
  width: 419px;
  height: 350px;
  margin: 15px auto 0 -25px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-style: italic;
  font-family: "Nothing You Could Do";
  width: 429px;
  margin: -350px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 770px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-2 .u-shape-2 {
  width: 477px;
  height: 110px;
  margin: 22px 12px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  font-family: "Nothing You Could Do";
  font-style: italic;
  margin: -92px 36px 0 85px;
}

.u-section-2 .u-image-2 {
  width: 326px;
  height: 326px;
  object-position: 84.55% 50%;
  margin: 75px 101px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 690px;
  }

  .u-section-2 .u-image-1 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 635px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 283px;
    margin-left: 71px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 383px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 635px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-2 .u-shape-2 {
    width: 401px;
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -105px;
    margin-right: 87px;
    margin-left: 34px;
  }

  .u-section-2 .u-image-2 {
    object-position: 83.59% 50%;
    margin-top: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 727px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 124px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-2 .u-line-1 {
    width: 189px;
    transform-origin: right center 0;
    margin-right: 76px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 265px;
  }

  .u-section-2 .u-text-2 {
    font-size: 4.375rem;
    margin-right: 13px;
  }

  .u-section-2 .u-shape-1 {
    width: 360px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 76px;
    width: 360px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 631px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 4px;
  }

  .u-section-2 .u-shape-2 {
    width: 344px;
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
    margin-top: -99px;
    margin-right: 33px;
    margin-left: 21px;
  }

  .u-section-2 .u-image-2 {
    object-position: 82.63% 50%;
    margin-right: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1294px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 167px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -853px;
    margin-bottom: 0;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-2 .u-line-1 {
    width: 336px;
    transform-origin: left center 0px;
    margin-right: auto;
    margin-left: 91px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 383px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 57px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 694px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-2 .u-shape-2 {
    width: 498px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 57px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 91px;
    margin-right: auto;
    margin-left: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 827px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 328px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1014px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-2 .u-line-1 {
    width: 210px;
    margin-right: 36px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 210px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    height: 375px;
    margin-right: -6px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: 298px;
    margin-top: -375px;
    margin-right: 36px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 549px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-2 .u-shape-2 {
    width: 331px;
    margin-top: 44px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 21px;
    margin-left: 15px;
  }

  .u-section-2 .u-image-2 {
    object-position: 83.59% 50%;
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 5px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 632px;
}

.u-section-3 .u-group-1 {
  width: 649px;
  min-height: 209px;
  margin: 40px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 0;
}

.u-section-3 .u-line-1 {
  width: 343px;
  height: 10px;
  transform-origin: right center 0px;
  margin: 37px auto 0 119px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: -26px 0 0 462px;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: 24px 33px 0 97px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 13px auto 70px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(250, 205, 61) !important;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  font-family: "Nothing You Could Do";
  margin: 20px 0 30px;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 330px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  font-family: "Nothing You Could Do";
  margin: 20px 0 30px;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 369px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 9px;
  padding-right: 20px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 11px;
}

.u-section-3 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: 30px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  font-family: "Nothing You Could Do";
  margin: 20px 0 0 11px;
}

.u-section-3 .u-layout-cell-4 {
  background-image: none;
  min-height: 330px;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: 30px 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 0.875rem;
  font-family: "Nothing You Could Do";
  margin: 20px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-3 .u-group-1 {
    width: 535px;
    margin-top: 20px;
  }

  .u-section-3 .u-line-1 {
    width: 283px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 33px;
    margin-left: 313px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 28px;
    margin-left: 80px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-icon-1 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-3 .u-text-3 {
    position: relative;
  }

  .u-section-3 .u-text-4 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-icon-2 {
    height: 53px;
    width: 53px;
    position: relative;
    margin-top: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    font-size: 2.0625rem;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 423px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 0;
  }

  .u-section-3 .u-icon-3 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 33px;
    margin-left: 9px;
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-8 {
    position: relative;
    margin-top: 17px;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 423px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 0 14px 0 12px;
  }

  .u-section-3 .u-icon-4 {
    height: 53px;
    width: 53px;
    position: relative;
    margin-top: 0;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.9375rem;
    width: auto;
    margin-top: 24px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-10 {
    position: relative;
    margin-top: 26px;
    margin-right: 2px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 410px;
    min-height: 229px;
  }

  .u-section-3 .u-line-1 {
    width: 189px;
    transform-origin: left center 0px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 21px;
    margin-left: 204px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 21px;
    margin-left: 45px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-icon-1 {
    height: 40px;
    width: 40px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-icon-2 {
    height: 40px;
    width: 40px;
  }

  .u-section-3 .u-text-5 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-icon-3 {
    height: 40px;
    width: 40px;
  }

  .u-section-3 .u-text-7 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-icon-4 {
    height: 40px;
    width: 40px;
  }

  .u-section-3 .u-text-9 {
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1639px;
  }

  .u-section-3 .u-group-1 {
    width: 384px;
    min-height: 288px;
  }

  .u-section-3 .u-line-1 {
    width: 169px;
    transform-origin: right center 0px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 18px;
    margin-left: 180px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 16px;
    margin-left: 20px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 314px;
    margin: 0 auto 90px 113px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-icon-1 {
    height: 38px;
    width: 38px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-icon-2 {
    height: 38px;
    width: 38px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 0;
  }

  .u-section-3 .u-icon-3 {
    height: 38px;
    width: 38px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-icon-4 {
    height: 38px;
    width: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 323px;
    min-height: 289px;
  }

  .u-section-3 .u-line-1 {
    width: 170px;
    margin-top: 34px;
    margin-left: -15px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -23px;
    margin-right: 11px;
    margin-left: 160px;
  }

  .u-section-3 .u-text-2 {
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: 13px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-icon-1 {
    height: 32px;
    width: 32px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-icon-2 {
    height: 32px;
    width: 32px;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-icon-3 {
    height: 32px;
    width: 32px;
  }

  .u-section-3 .u-text-7 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-icon-4 {
    height: 32px;
    width: 32px;
  }

  .u-section-3 .u-text-9 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }
}.u-section-4 {
  background-image: url("images/windowtinttemplates.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 636px;
}

.u-section-4 .u-group-1 {
  width: 709px;
  min-height: 205px;
  height: auto;
  margin: 438px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-4 .u-line-1 {
  width: 353px;
  height: 10px;
  transform-origin: right center 0px;
  margin: 37px 143px 0 auto;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: -26px 496px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: 20px -101px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-4 .u-group-1 {
    width: 689px;
    min-height: 284px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-4 .u-line-1 {
    width: 291px;
    margin-right: auto;
    margin-left: 183px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 500px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: -152px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-4 .u-group-1 {
    width: 683px;
    min-height: 289px;
    margin-bottom: 3px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 480px;
    transform-origin: left center 0px;
    margin-top: 76px;
    margin-right: -29px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 451px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3.4375rem;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-4 .u-group-1 {
    min-height: 180px;
    margin-top: 520px;
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-4 .u-line-1 {
    width: 345px;
    margin-top: 14px;
    margin-right: -30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 307px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.8125rem;
    margin-right: 9px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-4 .u-group-1 {
    min-height: 228px;
    margin-top: 616px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-line-1 {
    width: 175px;
    margin-top: 60px;
    margin-right: -40px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 135px;
    margin-left: -16px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-5 {
  background-image: none;
  min-height: 883px;
}

.u-section-5 .u-image-1 {
  margin-top: 221px;
  margin-left: 0;
  height: 663px;
  margin-bottom: 0;
  object-position: 44.17% 50%;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 515px;
  height: auto;
  margin: -864px calc(((100% - 1140px) / 2) + 54px) 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding-right: 0;
}

.u-section-5 .u-line-1 {
  width: 353px;
  height: 10px;
  margin: 45px auto 0 -28px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: -26px 0 0 334px;
}

.u-section-5 .u-shape-1 {
  width: 454px;
  height: 313px;
  background-image: none;
  margin: 4px -67px 0 183px;
}

.u-section-5 .u-text-2 {
  font-family: "Nothing You Could Do";
  margin: -308px -12px 0 183px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2) + 54px);
    height: auto;
  }

  .u-section-5 .u-line-1 {
    transform-origin: right center 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-shape-1 {
    margin-right: -51px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -313px;
    margin-right: 0;
    margin-left: 199px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2) + 54px);
  }

  .u-section-5 .u-text-1 {
    margin-left: 325px;
  }

  .u-section-5 .u-shape-1 {
    height: 331px;
    margin-top: 21px;
    margin-right: -67px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: -331px;
    margin-right: 29px;
    margin-left: 183px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-line-1 {
    transform-origin: left center 0;
  }

  .u-section-5 .u-text-1 {
    margin-right: -21px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: -27px;
    margin-left: 168px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 10px;
    margin-left: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-5 .u-line-1 {
    transform-origin: left center 0px;
    width: 238px;
    margin-left: -45px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 125px;
  }

  .u-section-5 .u-shape-1 {
    width: 428px;
    margin-top: 22px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 600px;
}

.u-section-6 .u-group-1 {
  width: 690px;
  min-height: 234px;
  margin: 90px auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-6 .u-line-1 {
  width: 353px;
  height: 10px;
  margin: 33px -65px 0 auto;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: -23px 284px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: 20px -447px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 25px auto 53px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 260px;
}

.u-section-6 .u-image-1 {
  height: 221px;
  margin: 5px auto 14px 0;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 260px;
}

.u-section-6 .u-image-2 {
  height: 221px;
  margin: 5px auto 14px 0;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 260px;
}

.u-section-6 .u-image-3 {
  height: 221px;
  width: 323px;
  margin: 10px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 569px;
    min-height: 310px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-6 .u-line-1 {
    width: 251px;
    transform-origin: right center 0px;
    margin-right: -83px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 168px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    width: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 436px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-6 .u-line-1 {
    width: 189px;
    margin-right: -161px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 33px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: -14px;
  }

  .u-section-6 .u-image-3 {
    width: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1236px;
  }

  .u-section-6 .u-group-1 {
    width: 514px;
    min-height: 349px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-6 .u-line-1 {
    width: 236px;
    margin-top: 51px;
    margin-right: 44px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -41px;
    margin-right: 300px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-6 .u-image-1 {
    width: 406px;
    margin: 10px auto;
  }

  .u-section-6 .u-image-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    width: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-6 .u-line-1 {
    width: 154px;
    transform-origin: left center 0px;
    margin-top: 43px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-1 {
    width: 198px;
    margin-top: -33px;
    margin-right: 136px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3.4375rem;
    margin-right: 6px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
  }

  .u-section-6 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-7 {
  min-height: 891px;
}

.u-section-7 .u-image-1 {
  background-image: url("images/Screenshot_20210613_201809_com.instagram.android.jpg");
  min-height: 446px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-2 {
  background-image: url("images/Screenshot_20210613_201703_com.whatsapp.jpg");
  min-height: 446px;
  background-position: 37.14% 50%;
}

.u-section-7 .u-image-3 {
  background-image: url("images/Screenshot_20210613_201730_com.instagram.android.jpg");
  min-height: 446px;
  background-position: 50% 100%;
}

.u-section-7 .u-image-4 {
  background-image: url("images/Screenshot_20210613_201645_com.whatsapp.jpg");
  min-height: 446px;
  background-position: 50% 29.71%;
}.u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/WhatsAppImage2021-06-14at8.42.00AM.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 565px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 72px auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 421px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: 20px 20px 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  font-family: "Nothing You Could Do";
  margin: 20px 135px 0 20px;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-size: 1.125rem;
  margin: 50px 104px 0 auto;
  padding: 0;
}

.u-section-8 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  width: 38px;
  height: 44px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 421px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Nothing You Could Do";
  margin: 20px 0 0;
}

.u-section-8 .u-btn-2 {
  border-style: none;
  font-size: 1.125rem;
  margin: 212px auto 0 104px;
  padding: 0;
}

.u-section-8 .u-icon-2 {
  font-size: 1.2em;
  color: rgb(146, 228, 253) !important;
}

.u-section-8 .u-btn-3 {
  border-style: none;
  font-size: 1.125rem;
  margin: -144px auto 60px;
  padding: 0;
}

.u-section-8 .u-icon-3 {
  font-size: 1.2em;
  color: rgb(146, 228, 253) !important;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 27px;
    margin-right: 55px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 35px;
    margin-right: 127px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-text-3 {
    position: relative;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 132px;
    margin-left: 88px;
  }

  .u-section-8 .u-btn-3 {
    margin-top: -181px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
    margin-right: 13px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 46px;
    margin-right: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 0;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-left: 13px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 134px;
    margin-left: 105px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 307px;
    margin-bottom: -261px;
    margin-left: 20px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 168px;
    margin-left: auto;
  }

  .u-section-8 .u-btn-3 {
    margin-top: -190px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.625rem;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 6px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 391px;
    margin-bottom: -287px;
    margin-left: -12px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 151px;
  }

  .u-section-8 .u-btn-3 {
    margin-top: -166px;
    margin-right: 0;
  }
}
